// @principia_gravity_model:HAS[!GoobalSettings]:AFTER[aGoobalSlimeWorld]
// {
	// #@GoobalSettings {}
// }
// @principia_gravity_model:HAS[@GoobalSettings:HAS[#ScalePreset[RealZwoNmuSystem]]]:AFTER[aGoobalSlimeWorld]
// {
	// @body,*
	// {
		// @angular_frequency       *= 0.5 //Twice the period, so half the frequency
	// {
// }

ATMOFX_PLANET_PACK
{
	name = ZwoNmuSystem
	
	strength_multiplier = 1
	transition_offset = 0
	
	affected_bodies = Gymnome, Kerbin, Lake, Oldsky, Rival, Omen, Ember, Glerbuh, Glarpi, Shpler, Eauah, Flibul
}
@ATMOFX_PLANET_PACK:HAS[!GoobalSettings]:AFTER[aGoobalSlimeWorld]
{
	#@GoobalSettings {}
}
@ATMOFX_PLANET_PACK:HAS[@GoobalSettings:HAS[#ScalePreset[RealZwoNmuSystem]]]:AFTER[aGoobalSlimeWorld]
{
	@transition_offset = 0.2
}
@Kopernicus:HAS[!GoobalSettings]:AFTER[aGoobalSlimeWorld]
{
	#@GoobalSettings {}
}
@Kopernicus:HAS[@GoobalSettings:HAS[#ScalePreset[RealZwoNmuSystem]]]:AFTER[aGoobalSlimeWorld]
{
	@Body,*
	{
		@Properties
		{
			@radius *= 4 //Undo quarter scale
			@gravParameter *= 16 //Undo quarter scale 
			@mass *= 16 //Undo quarter scale
			@rotationPeriod *= 2
		}
		@Orbit
		{
			@semiMajorAxis *= 4 //Undo quarter scale
		}
		@PQS
		{
			@Mods
			{
				@VertexHeightOblateAdvanced
				{
					@mass *= 16 //Undo quarter scale
					@period *= 2 //Undo quarter scale
					@radius *= 4 //Undo quarter scale
				}
			}
		}
	}
}
@Scatter_planetsList:HAS[!GoobalSettings]:AFTER[aGoobalSlimeWorld]
{
	#@GoobalSettings {}
}
@Scatterer_planetsList:HAS[@GoobalSettings:HAS[#ScalePreset[RealZwoNmuSystem]]]:AFTER[aGoobalSlimeWorld]
{		
	scattererCelestialBodies
	{
		@Item,*
		{
			@loadDistance *= 10
			@unloadDistance *= 10
		}
	}
}